.testimonials {
  &__content {
    @include grid-container;

    align-items: end;

    height: 1548px;
    margin-bottom: 120px;

    @include on-tablet {
      height: 1682px;
      margin-bottom: 148px;
    }

    @include on-laptop {
      height: 673px;
      margin-bottom: 186px;
    }

    @include on-desktop {
      height: 711px;
      margin-bottom: 148px;
    }
  }

  &__info {
    align-self: start;

    grid-column: 1 / -1;
    grid-row: 1 / 2;

    @include on-tablet {
      grid-column: span 3;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $dark-text-color;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $title-text-color;

    @include on-tablet {
      width: 196px;
    }
  }

  &__card {
    &--1 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    &--2 {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }

    &--3 {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
    }

    @include on-laptop {
      grid-column: span 4;
      grid-row: 2 / 3;
    }
  }
}
