$transition-duration: 0.3s;
$main-bg-color: #f2f6fa;
$dark-bg-color: #2c2c2c;
$white-color: #fff;
$dark-text-color: #c0cdd7;
$title-text-color: #253757;
$description-text-color: #6c788b;
$blue-color: #2060f6;
$extra-blue-color: #144ed4;
